{% extends 'base.html' %}

{% block content %}

<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h3>Our Bank details</h3>
      <p>Bank name: HDFC</p>
      <p>A/C no.: 50200057072531</p>
      <p>IFSC Code : HDFC0002063</p>
      <p>Branch: Hinoo</p>
      <p>City: Ranchi</p>
      <p>Account type: Current</p>
      <br>
      <h4>Contact us at contact@khudaiimdad.in</h4>
    </div>
  </div>
</section>

{% endblock %}
