{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our story</h2>
            <h3 class="section-subheading text-muted">The story about our beginnings</h3>
            <h3 class="section-subheading text-muted">The communal riots that ravaged the North-East Delhi in February 2020, in which lives, livelihood and properties were lost in large numbers, brought with it a formidable realisation -- the need to step up and act right away, for the upliftment and betterment of the Muslim community, and humanity at large.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>February 2020</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">There were tales of horror pouring in from NE Delhi’s Maujpur, Gokulpuri, Shiv Vihar, Mustafabad and Khajuri Khas, the so-called Muslim ghettos, as we sat in fear in our homes. A large number of people whose houses were destroyed or burnt down to ground took refuge in the camps that were set up at Chaman Park and Mustafabad Eidgah. As we read about the riot victims and heard their spine-chilling tales in videos on social media, a few of my friends and I decided to reach out to them with whatever means we had. We visited the camps and listed down the things that people needed the most while thinking out ways to gather funds. But before we could put our plan into action, a sudden lockdown was clamped down in the country</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>22nd March, 2020</h4>
                        <h4 class="subheading">Beyond the nation wide lockdown</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We effected a change in plan for the time being -- the need of the hour was to reach out to migrant workers and daily wagers who were walking home that was hundreds of kilometres away, On March 22, the day the Janta Curfew was imposed, we formed a Jamia Residents’ Forum, which comprised professionals, students and homemakers and also put up a post for crowdfunding. The response was so encouraging that in a matter of a few weeks we could help people not only in several parts of Delhi-NCR but also different cities like Lucknow, Ludhiana, Mumbai, Bangalore, Hyderabad, Patna and Ranchi. By the end of how many months??, we could provide ration kits to 16,000 households and leveraged many health and other entitlements through lobbying, liasioning and crowdfunding. We reached out rural areas (names....) of Jharkhand with rations.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>June 8th, 2020</h4>
                        <h4 class="subheading">After Unlock 1.0</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Then, as the lockdown was lifted partially, we turned our attention towards the rehabilitation of the pogrom-affected households. We started with food kits and healthcare followed by financial assistance for starting small-scale businesses that were destroyed by the rioters. So far, we have rehabilitated around 70 families and there are more on the way. We have also funded marriages of the  poor, orphaned pogrom survivor girls. Then, we have also paid fees of students who couldn’t afford it due to loss of livelihoods in lockdown and other reasons. We were also involved in relief works of flood affected areas of Bihar.We have been consistently working with migrant workers and daily wagers, at par? in coordination? with other established  organisations doing similar works. </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>And Today!</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We realised that what we have done is not even a drop in the ocean. We needed to do way more and be more organized. My family and friends, therefore, said it was best to formalise the organisation, which would work for poor and other marginalized groups in health, education, rehabilitation, human rights issues. Hence, the Trust - Khudaiimdad.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'contact.html' %}

{% endblock %}
